# Visual Studio files
.env
.vs/
.vscode/
*.code-workspace
*.sdf
*.opensdf
*.VC.opendb
*.suo
*.user

# macOS files
.DS_Store

# CMake artifacts
build/
build-*/

# Python
__pycache__
_python_build/
deps/
dist/
wheelhouse
*.egg-info
*.whl
*.venv

# Local-only config options
version_local.json

# Model artifacts
*.pt
*.safetensors
*.gguf
*.vmfb
*.png

# Test artifacts
.lit_test_times.txt

# Output files
out
