# Requirements for CI jobs.
#
# Developer may want to install from iree-requirements.txt where we are more
# forgiving on the exact version.

# Uncomment to select a nightly version.
# --find-links https://iree.dev/pip-release-links.html

iree-compiler==20241104.1068
iree_runtime==20241104.1068
