# SPDX-FileCopyrightText: 2024 The IREE Authors
#
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

include README.md
include requirements.txt
include pytorch-cpu-requirements.txt
include version_info.json
include shark_turbine/ops/templates/*.mlir
