# Build/test requirements.
Jinja2==3.1.3
filecheck==1.0.0
numpy==1.26.3
parameterized==0.9.0
pytest==8.0.0
pytest-xdist==3.5.0
lit==18.1.7
mypy==1.8.0
setuptools
wheel

# It is expected that you have installed a PyTorch version/variant specific
# to your needs, so we only include a minimum version spec.
torch>=2.3.0
torchaudio
torchvision

# Used for managing pre-commit flows.
pre-commit
