# Pinned versions of IREE dependencies.

# Allow downloading prerelease versions from nightly IREE releases.
--find-links https://iree.dev/pip-release-links.html
--pre

# Uncomment to skip versions from PyPI (so _only_ nightly versions).
# --no-index

# TODO: We have a pretty bad regression in Wave between 3.5.0rc20250516 and
# 3.5.0rc20250517. I'm locking to 3.5.0rc20250516 until further investigation.
iree-base-compiler==3.5.0rc20250523
iree-base-runtime==3.5.0rc20250523
